.wrapper
  %header.main-header
    .content-header
      .inner-header
        .left-logo-header
          = link_to "",class: "logo" do
            %span.logo-title News-Chat
        .right-logo-header
          = link_to "新規会員登録","", class: "new-user"
          = link_to "ログイン", "", class: "log-in"
  .main-contents
    %section.news-title
      .main-title ニュース一覧
    %section.news-contents
      .main-news
